

input{
    width: 340px;
    height: 30px;
    border-radius: 4px;
}

.btn{
    color: #fbfbfc;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 4px; 
    line-height: 20px;
    width: 100%;
    border-color: rgb(0, 68, 204);
    background-image:  linear-gradient(rgb(0, 175, 240), rgb(0, 175,240 ));
}

.btn-primary{
     cursor: pointer;
}

.forget-me{
    padding-left: 216px;
}

.forget-me a{
    text-decoration: none;
    color: 007bff;
}