<div class="flight-main">
    <h1>        
        Welcome to the Simple Travel Agency!
    </h1>

    <p>
        The is a sample site you can test with BlazeMeter!
    </p>    

    <p>    
        Check out our <a href="/vacation">destination of the week! The Beach!</a>
    </p>
   
    <div>
        <form #myform="ngForm" (ngSubmit)="submitform(myform)">
            <h2> Choose your departure city: </h2> 
                       
            <select  #vadepature="ngModel"   name="depature" class="form-control" ngModel>     
                <option value="Paris">Paris</option>
                <option value="Philadelphia">Philadelphia</option>
                <option value="Boston">Boston</option>
                <option value="Portland">Portland</option>
                <option value="San Diego">San Diego</option>
                <option value="Mexico City">Mexico City</option>
                <option value="São Paolo">São Paolo</option>       
            </select>
            <br/>
            <pre></pre>
            <h2> Choose your destination city: </h2> 
             
            
            <select #vaarrival="ngModel"   name="arrival" class="form-control" ngModel>
                <option value="Buenos Aires">Buenos Aires</option>
                <option value="Rome">Rome</option>
                <option value="London">London</option>
                <option value="Berlin">Berlin</option>
                <option value="New York">New York</option>
                <option value="Dublin">Dublin</option>
                <option value="Cairo">Cairo</option>        
            </select>
            <br/>
            <pre></pre>
            <button type="submit" class="btn btn-primary">Find Flights</button>
        </form>
    </div>
   
</div>
